# Ignora cartelle temporanee e di compilazione
.buildozer/
bin/
venv/
pycache/
*.pyc
*.pyo
*.log
*.bak
*.spec.save*
*.zip
*.apk
*.csv
*.json
*.txt
*.env

# Ignora tutto dentro le build di Android
.android/
app/.gradle/
app/build/
